@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/*colors*/
$color-prime :#7952B3;
$color-yellow:#F0D57D;
$color-second:#fff;
$color-dark : black;
/*extras*/
.taskDone {
    text-decoration: line-through;
}
.mainTitle{
    color: #7952B3;
    font-size: 50px;
}
/*Buttons */
@mixin btn-style {
    background-color: $color-prime !important;
    border-radius: 15px;
    border: solid;
    border-color: $color-prime !important;
    color: $color-second !important;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    border: none;
}
.btnAdd{
    @include btn-style();
    width: 300px;
}
.btnAdd:hover{
    background-color: $color-second;
    color: $color-prime;
}
#closeAddTask{
    color: #7952B3 !important;
    cursor: pointer;

}
/*extras*/
hr{
    border: 1px solid $color-prime;
    border-radius: 25px ;
    background-color: $color-prime;
    width: 100%px;
}

.hidden{
    display: none;
}
/*header*/
.header{
    background-color: $color-prime;
    color: $color-second;
    
}
/*Task list*/
.task-list{
    .container{
        .task{
            border-left: 6px solid $color-prime;
            .task-header{
                display: flex;
                justify-content: space-between;
                .task-title{
                    cursor: pointer;
                }
            }
            
        }
        .btnAdd{
            @include btn-style();
        }
        .btnAdd:hover{
            background-color: $color-second;
            color: $color-prime;
        }
    }
}



/*new task window*/
.new-task,.edit-task{
    .container{
        border-radius: 15px;
        .heading,i{
            color: $color-prime;
        }
        form{
            input[type=text],textarea{
                border: $color-prime;

            }
            input[type=text]:focus,textarea:focus {
                box-shadow: none;
                border: $color-prime;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
            }
            .heading,i{
                color: $color-second;
            }
            .btnAdd{
                @include btn-style();
            }
            .btnAdd:hover{
                background-color: $color-second;
                color: $color-prime;
            }
        }
    }
}