@charset 'utf-8';
.container{
    margin: 80px;

}
button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 25px;
    margin-right: 50px;
    border: solid;
    border-color: rgb(67, 167, 76);
    color: white;
    background-color: rgb(67, 167, 76);
}
button:hover{
    color: rgb(67, 167, 76);
    background-color: white;
}
button:focus{
    outline: none;
}
.result{
    font-size: 30px;
    color: tomato;
}