/*colors*/
$color-prime :#7952B3;
$color-yellow:#F0D57D;
$color-second:#fff;
$color-dark : black;
.footer{
    color: $color-prime;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 5;
    .end{
        font-size: 20px;
    }
}