/*colors*/
$color-prime :#7952B3;
$color-yellow:#F0D57D;
$color-second:#fff;
$color-dark : black;

.new-task-form {
    .container{
        border-radius: 25px;
        .heading{
            border: none;
            color: $color-prime;
        }
        .sideHeading{
            color: $color-yellow;
        }
        form{
            input:focus {
                outline: none !important;
                outline-offset: none !important;
            }
            .addSubTask {
                background-color: $color-yellow;
                border: solid $color-yellow;
                border-radius: 50px;
                color: $color-prime;
                outline: none;
            }
            .addSubTask:hover{
                background-color: $color-prime;
                color: $color-yellow;
            }
            .addSubTask:focus{
                outline: none !important;
            }
            .addTask {
                background-color: $color-prime;
                border: solid $color-prime;
                border-radius: 50px;
                color: $color-second;
                outline: none;
            }
            .addTask:hover{
                background-color: $color-second;
                color: $color-prime;
            }
            .addTask:focus{
                outline: none !important;
            }
        }
    }
}